.table{
	font-size: 100px;
	font-family: ;
}

.button{
width: 80px;
font-size: 20px;
margin-top:50px;
background-color: none;
border-radius: 2px;
}

select{
	background-color: none;
	font-size: 32px;
}

.option{
	font-size: 25px;
}

h1{
	font-size: 50px;
}